html, body {
    height: 100%;
    font-family: monospace;
}


/* SIDEBAR NAV  */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #000000;
    color: white;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    line-height: 2em;
    font-family: monospace;
    font-size: 15px;
  }

.sidebar{
    text-align: center;
    padding-top: 10%;
}

.pageTitle{
    border-bottom: solid;
    border-color: black;
    border-width: 1px;
    padding-bottom: 15px;
    font-weight: bold;
    text-align:right;
    text-transform: capitalize;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: orange;
    text-decoration: none;
}

hr{
    border-color: white !important;
    width: 80%;
}
  
* {
    box-sizing: border-box;
  }
main {
    min-height: 100%;
    margin-bottom: -100px
}

.container {
    padding-top: 15%;
    width: 60%;
    margin-left: 20%;
}


h1 {
    font-size: 30px;
    text-align: center;
}

 h2 {
     font-size: 22px;
     text-align: center;
 }

h3 {
    font-size: 16px;
    text-align: center;
}

p{
    text-align: justify;
    line-height: 1.5em;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #666666;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical 
}


input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4aaaa5;
}

.icon{
    padding:30px;
    text-align: right;
}

.containers{
    width: 100%;
    padding: 10px;
}
/* Container holding the image and the text */
.image-block {
    position: relative;
  }
  
  /* Bottom right text */
  .text-block {
    position: absolute;
    height: 27px;
    width: 175px;
    top: 100px;
    bottom: 10px;
    background-color: black;
    color: white;
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 12x;
    padding-right: 2px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
  }