/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html, body{
    background-image: url("../images/port-background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Helvetica, sans-serif;
}

.header{
    background:transparent;
    padding-top: 1em;
    display: flex;
    margin-left: 10%;
    /* justify-content: center; */
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    color: black;
    font-family: 'Anonymous Pro', monospace; 
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
  }

.nav-link {
    display: inline;
    color: black !important;
    font-family: Helvetica, sans-serif
}

.nav-link:hover{
    color: silver;
}

li{
    display: inline !important;
}

ul{
    list-style-type: none !important;
}

hr{
    color:black;
}

p{
    text-align: justify;
    line-height: 1.6em;
}

.container {
    margin-left: 15%;
    margin-top: 30px;
    padding: 40px;
    width: 820px;
    height: 520px;
    background-color: white;
    border-radius: 5px;
    /* background-color: rgb(216, 212, 207, 0.5); */
    /* border-style: solid;
    border-color:black; */
}

.network, .fab, .far{
    font-size: 20px;
    color: black !important;
}

.net{
    padding-left: 10px;
}

a.net:hover{
    color:grey;
}

a:hover{
    color:silver !important;
    text-decoration: none;
}

.d-block{
    width: 80%;
    height: 80%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 50%;
  margin: auto;
  background-image: none !important;
}